body{
        margin: 0;
         background: radial-gradient(circle at top, #1b2735, #090a0f);
    }
    .stone{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-right: 40px;
        height: 100px;
        width: 100px;
        border-radius: 20px;
        border: none;
        background: linear-gradient(to right, #ffffff, #ffffff);
        font-size: 20px;
        font-family:Helvetica, sans-serif;  
    }
    .stone:hover{
    box-shadow: 0 0 30px rgba(148,163,184,0.9); /* rock grey */
}
    .paper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-right: 40px;
        height: 100px;
        width: 100px;
        border-radius: 20px;
        border: none;
        background: linear-gradient(to right, #ffffff,  #ffffff);
        font-size: 20px;
        font-family:Helvetica, sans-serif; 
    }
    .paper:hover{
    box-shadow: 0 0 30px rgba(96,165,250,0.9); /* paper blue */
}

    .scissor{
        margin-right: 20px;
        height: 100px;
        width: 100px;
        border-radius: 20px;
        border: none;
        background: linear-gradient(to right, #ffffff,  #ffffff);
        font-size: 20px;
        font-family: Helvetica, sans-serif; 
    }
    .scissor:hover{
    box-shadow: 0 0 30px rgba(168,85,247,0.9); /* scissor violet */
}
    .buttons{
        display:flex;
        justify-content: center;
        height: 300px;
        align-items: center;
        border-radius: 500px;
    }
    button {
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}
    button:hover{
    cursor: pointer;
    background: linear-gradient(145deg, #0ea5e9, #22d3ee);
     color: #020617;
    }
    button:active{
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
.desc{
    display: block;         
    padding: 15px 25px;             
    border-radius: 12px;            
    text-align: center;
    width: 500px;   
    margin: 100px auto;     
    background: rgba(15, 23, 42, 0.9);
    color: #e5e7eb;
    border: 1px solid rgba(255,255,255,0.15);
    box-shadow: 0 0 30px rgba(14,165,233,0.4);   
}
.reset{
    width: 100%;
    padding: 14px;
    background: linear-gradient(to right, #ef4444, #dc2626);
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.stone img {
    width: 55px;     
    height: 55px;
    object-fit: contain;
}
.paper img {
    width: 55px;     
    height: 55px;
    object-fit: contain;
}
.scissor img {
    width: 55px;     
    height: 55px;
    object-fit: contain;
}

